@import '../../variables.styles.scss';

.homepage > .sidebar {
  width: 30%;
  text-align: left;
  background-color: $theme-color;
  color: white;

  display: flex;
  flex-direction: column;


  /* List */
  ul {
    list-style: none;
    padding: 0;
    li {
      opacity: 0.7;
      // transition: 0.2s;
    }

    .active{
      opacity: 1;
      font-weight: 300;
    }

    li:hover {
      // opacity: 0.85;
    }
  }
}
