@import '../../variables.styles.scss';
.homepage > .content {
  width: 100%;
  margin-left: 25%;
}

.homepage .content-default {
  background-color: $content-background-color;

  min-height: 101vh;
  padding: 25px 50px;
}
